
<div id="main" class="container">
	<div id="wrapper">
		<div id="sidebar-wrapper">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand menu" id="options" onclick="toggle('options')" href="#"><img id="menu" src="assets/menu.png"/></a>
					</div>
					<ul class="nav navbar-nav">
						<li><a href="#">
							<span class="glyphicon glyphicon-music"></span>
						</a></li>
						<li><a href="#"><img id="album" src="assets/album.png"/></a></li>
						<li><a href="#"><img id="artist" src="assets/artist.png"/></a></li> 
						<li><a href="#">	
							<%= form_tag("/index", method: :post,  multipart: true) do %>
							<input type="file" id="file" onchange="loadFile(this)" class="hidden" name="mp3file"/>
							<label for="file" class="glyphicon glyphicon-plus-sign" ></label>
							<% end %>							
						</a></li>
						<li><a><%= @name %></a></li>
					</ul>
				</div>
			</nav>
			
			<div id="songslist">
				<div id="letter">
					<h4>S</h4>
				</div>
				<hr>
				
				<div class="song">
					<% @results.each do |song| %>
						<h4><%= song.name%></h4>
						<h6> <%= song.artist%> - <%= song.album%> </h6>
						<hr>					
					<% end %>
				</div>
			</div>
		</div>
		<div id="page-content-wrapper">		
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div id="songheader" align="middle">
						 <h6><%= @sartist %></h6><br>
						 <h4 data-path="<%= @file_name %>" id="songname"> 
							<%= @stitle %>
						</h4><br>
						 <h6><%= @salbum %></h6>
					</div>
				</div>
			</nav>
			
			
			<div id="artwork">
				<div id="status">
					<br>
					<div class="row">
						<div class="col-md-3" style= "text-align:right;">
							<h6 style="color: white">start</h6>
							</div>
						<div class="col-md-6" style= "padding: 0 0 0 0">
							<div id="content">
							<span class="expand"></span>
							</div>
						</div>
						
						<div class="col-md-3">
							<h6 style="color: white">end</h6>
							</div>
						<div class="col-md-6">
							<a href="#"><img class="statusimages" src="assets/loop.png"/></a>
						</div>
						
						<div class="col-md-6" style= "text-align:right;">
							<a href="#"><img class="statusimages" src="assets/shuffle.png"/></a>
						</div>
					</div>
				</div>
			</div>
			<div id="controls" align="middle">
					<audio id="song" style="display:none"><source type="audio/mpeg"></audio>
					
					<a href="#"><img class="ctrlimages" width=100% height=100% src="assets/previous.png"/></a>
					<a href="#" onclick="togglePlay()"><img class="ctrlimages" src="assets/play.png" id="play"/></a>
					<a href="#"><img class="ctrlimages" src="assets/next.png"/></a>
					<section>
						<div id="slider"></div> <!-- the Slider -->
						<span class="volume"></span> <!-- Volume -->
					</section>
			</div>
		</div>
	</div>
</div>